h2{
    color: rgb(197, 64, 82);
    margin-top: 2%;
    text-align: center;
}
.logo-div{
    text-align: center;
    width: 40%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}
.logo-div{
       margin-top: 10%;
    
}
.logo{
    width: 200px;
}
.login{
    width: 30%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.form-control{
    margin-bottom: 2%;
}
.register{
    text-align: center;
}
.register-link{
    color: crimson;
}
.register-link:hover{
    color: rgb(231, 96, 123);
}

.btn-grad {background-image: linear-gradient(to right, #F2C94C 0%, #F2994A  51%, #F2C94C  100%)}
.btn-grad {
   margin: 10px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }