<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://img-premium.flaticon.com/png/512/3190/3190461.png?token=exp=1621327171~hmac=e80f5d6477e3358cefef14c8ec3d5563" class="d-inline-block align-top logo" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="users">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="posts">Posts</a>
          </li>
          
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="register">Register</a>
          </li> -->
        </ul>
        <button class="btn btn-grad">Sign out</button>
        <!-- <form #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off">
            <input class="form-control me-2" name="username" [(ngModel)]="model.name" type="text" placeholder="UserName" />
            <input class="form-control me-2" name="password" [(ngModel)]="model.password" type="password" placeholder="Password" />
            <button class="btn btn-outline-success" type="submit" >Login</button>
        </form> -->
      </div>
    </div>
  
  </nav>