<div class="wrapper">
    <main>
        <div class="main-section">
            <div class="container">
                <div class="main-section-data">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 pd-left-none no-pd">
                            <div class="main-left-sidebar no-margin">
                                <div class="user-data full-width">
                                    <div class="user-profile">
                                        <div class="username-dt">
                                            <div class="usr-pic">
                                                <img [src]="currentUser.profilePicture" alt="">
                                            </div>
                                        </div>
                                        <div class="user-specs">
                                            <h3>{{currentUser.name}}</h3>
                                            <span>Graphic Designer at Self Employed</span>
                                        </div>
                                    </div>
                                    <ul class="user-fw-status">
                                        <li>
                                            <h4>Following</h4>
                                            <span>34</span>
                                        </li>
                                        <li>
                                            <h4>Followers</h4>
                                            <span>155</span>
                                        </li>
                                        <li>
                                            <a routerLink="profile">View profile</a> <!--change to !loggedIn-->
                                          </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-8 no-pd">
                            <div class="main-ws-sec">
                                <div class="post-topbar">
                                    <div class="user-picy">
                                        <!-- <img src="http://via.placeholder.com/100x100" alt=""> -->
                                    </div>
                                    <div class="post-st">
                                        <input class="create-post" for="new-title" [(ngModel)]="selectedPost.title" placeholder="Type your title here..."/>
                                        <input class="create-post" for="new-post" [(ngModel)]="selectedPost.content"placeholder="Type your post here..."/>
                                        <button class="btn btn-grad" type="submit" (click)="addPost(selectedPost); selectedPost.title=''; selectedPost.content=''">Make a post</button>
                                    </div>
                                </div>
                                <div class="posts-section">

                                    <div class="posts">
                                        <ul class="post-list">
                                            <!-- NgFor => binding user/posts-->
                                            <li *ngFor="let post of posts" >
                                                <div class="post-bar">
                                                    <div class="post_topbar">
                                                        <div class="usy-dt">
                                                            <img [src]="post.user.profilePicture" alt="">
                                                            <div class="usy-name">
                                                                <h3>{{post.user.name}}</h3>
                                                                <span><img src="../assets/clock.png" alt="">Time Created</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="epi-sec">
                                                        <ul class="descp">
                                                            <li><img src="../assets/icon9.png" alt=""><span>Location</span></li>
                                                        </ul>
                                                    </div>
                                                    <div class="job_descp">
                                                        <h3>{{post.title}}</h3>
                                                        <p>{{post.content}}</p>
                                                        <!-- <ul class="skill-tags">
                                                            <li *ngFor="let language of languages">
                                                                <a href="#" title="">{{language.name}}</a>
                                                            </li>
                                                        </ul> -->
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="process-comm">
                                        <div class="spinner">
                                            <div class="bounce1"></div>
                                            <div class="bounce2"></div>
                                            <div class="bounce3"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 pd-right-none no-pd">
                            <div class="right-sidebar">
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </main>
</div>



    

    
