<h2>Sign in</h2>

<form #loginForm="ngForm" class="login" (ngSubmit)="login()" autocomplete="off">
    <input class="form-control me-2" name="username" [(ngModel)]="model.name" type="text" placeholder="UserName" />
    <input class="form-control me-2" name="password" [(ngModel)]="model.password" type="password" placeholder="Password" />
    <button class="btn btn-outline-success" type="submit" >Login</button>
</form>

<p class="register">Not a member yet? Register <a routerLink="register">here</a></p>
