<div *ngIf="user" class="acc-setting">
    <h3>Account Setting</h3>
    
        <div  class="notbar">
            <h4>User</h4>
            <p>Name: {{user.name | titlecase}}</p>
            <div class="toggle-btn">
                <a href="#" title=""><img src="images/up-btn.png" alt=""></a>
            </div>
        </div><!--notbar end-->
        <div class="notbar">
            <h4>Languages</h4>
            <div *ngFor="let language of user.languages">

            <div class="toggle-btn">
                <a href="#" title=""><img src="images/up-btn.png" alt=""></a>
            </div>
        </div><!--notbar end-->
        <div class="notbar">
            <h4>Pictures</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pretium nulla quis erat dapibus, varius hendrerit neque suscipit. Integer in ex euismod, posuere lectus id</p>
            <div class="toggle-btn">
                <a href="#" title=""><img src="images/up-btn.png" alt=""></a>
            </div>
        </div><!--notbar end-->
        <div class="save-stngs">
            <ul>
                <li><button type="submit">Save Setting</button></li>
                <li><button type="submit">Restore Setting</button></li>
            </ul>
        </div><!--save-stngs end-->
    
</div><!--acc-setting end-->