<section class="cover-sec">
    <img src="../assets/background.png" alt="">
</section>

<div *ngIf="user" class="acc-setting">
    <div class="notbar">
        <h3>Profile picture</h3>
        <div class="user-pro-img">
            <img class="profile-img" [src]="user.profilePicture" alt="">
        </div><!--user-pro-img end-->        
    </div>
      
    
   
        <div  class="notbar">
            <h4>User Information</h4>
            <p>Name: {{user.name | titlecase}}</p>
            <input id="name" [(ngModel)]="user.name" placeholder="name">
            <p>Country: {{user.country | titlecase}}</p>
            <input id="country" [(ngModel)]="user.country" placeholder="country">
            <p>City: {{user.city | titlecase}}</p>
            <input id="city" [(ngModel)]="user.city" placeholder="city">
           
            <div class="toggle-btn">
                <a href="#" title=""><img src="images/up-btn.png" alt=""></a>
            </div>
        </div><!--notbar end-->
        <div class="notbar">
            <h4>Languages</h4>
            <ul >
                <li *ngFor="let language of user.languages">
                    <span>{{language.name}}</span>
                </li> 
            </ul>
        
        </div><!--notbar end-->
        <div class="save-stngs">
            <ul>
                <li><button type="submit"(click)="saveChanges(user)">Save Setting</button></li>
                
            </ul>
        </div><!--save-stngs end-->
    
</div><!--acc-setting end-->