<section class="cover-sec">
     <img src="../assets/background.png" alt="">
 </section>


    <main>
        <div class="main-section">
            <div class="container">
                <div class="main-section-data">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="main-left-sidebar">
                                <div class="user_profile">
                                    <div class="user-pro-img">
                                        <img class="profile-img" [src]="currentUser.profilePicture" alt="">
                                    </div><!--user-pro-img end-->
                                    
                                    <ul class="social_links" >
                                        <li *ngFor="let language of currentUser.languages">
                                            <span>{{language.name}}</span>
                                        </li> 
                                    </ul>
                                </div><!--user_profile end-->
                                
                            </div><!--main-left-sidebar end-->
                        </div>
                        <div class="col-lg-6">
                            <div class="main-ws-sec">
                                <div class="user-tab-sec">
                                    <h3>{{currentUser.name}}</h3>
                                    <div class="star-descp">
                                        <span>.NET Developer</span>      
                                    </div><!--star-descp end-->
                                    <div class="post-topbar">
                                        <div class="post-st">
                                            <input class="create-post" type="text" [(ngModel)]="addedPost.title" placeholder="Type your title here..."/>
                                            <input class="create-post" type="text" [(ngModel)]="addedPost.content" placeholder="Type your post here..."/>
                                            <div class="custom-checkbox">
                                                <input class="create-post" type="checkbox" [(ngModel)]="addedPost.isNSFW"/>
                                                <label class="create-post">Is NSFW?</label>                                            
                                            </div>
                                            
                                            <button class="btn btn-grad" type="submit" (click)="addPost(addedPost); addedPost.title=''; addedPost.content=''; addedPost.isNSFW=false; addedPost.userId=currentUser.id; addedPost.user=currentUser ">Make a post</button>
                                        </div>
                                    </div>
                                    
                                </div><!--user-tab-sec end-->
                                <div class="posts-section">

                                    <div class="posts">
                                        <ul class="post-list">
                                            <!-- NgFor => binding user/posts-->
                                            <li *ngFor="let post of currentUser.posts" >
                                                <div class="post-bar">
                                                    
                                                    <div class="job_descp">
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <h3>{{post.title}}</h3>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="usy-name">
                                                                    <span><img src="../assets/clock.png" alt="">{{post.createdAt | date}}</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-2">
                                                                <button class="btn btn-danger" (click)="deletePost(post)">Delete</button>
                                                            </div>
                                                        </div>
                                                        <div class="row post-content">
                                                            <p>{{post.content}}</p>                                                            
                                                        </div>
                                                        <div class="row">
                                                                <ul class="skill-tags">
                                                                    <li *ngFor="let language of currentUser.languages">
                                                                        <a href="#" title="">{{language.name}}</a>
                                                                    </li>
                                                                </ul>
                                                        </div>        
                                                               
                                                                
                                                                
                                                                
                                                        
                                                        
                                                        
                                                        
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- <div class="process-comm">
                                        <div class="spinner">
                                            <div class="bounce1"></div>
                                            <div class="bounce2"></div>
                                            <div class="bounce3"></div>
                                        </div>
                                    </div> -->
                                </div>
                            </div><!--main-ws-sec end-->
                        </div>
                        <div class="col-lg-3">
                            <div class="right-sidebar">
                                <div class="widget widget-portfolio">
                                    <div class="wd-heady">
                                        <h3>Photos</h3>
                                        <img src="../assets/photo-icon.png" alt="">
                                    </div>
                                    <div class="pf-gallery">
                                        <ul>
                                            <li *ngFor="let photo of currentUser.photos">
                                                <a href="#" title=""><img [src]="photo.imgUrl" alt=""></a>
                                            </li>
                                        </ul>
                                    </div><!--pf-gallery end-->
                                </div><!--widget-portfolio end-->
                            </div><!--right-sidebar end-->
                            <button class="btn btn-grad" (click)="triggerModal(modalData)">Add photos</button>

                            <ng-template #modalData let-modal>
                            <div class="modal-header">
                                <h4 class="modal-title" id="modal-basic-title">Add photo pop-up</h4>
                                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                    <p>This feature is coming soon!</p>
                                    <img class="hammy" src="../assets/hammy.gif"/>
                                    <p class="info">For any further questions, contact Sebastiaan-Willem kesteloot.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Close</button>
                            </div>
                            </ng-template>
                        </div>
                    </div>
                </div><!-- main-section-data end-->
            </div> 
        </div>
    </main>
