<div *ngIf="user">
    <h2>{{user.name | uppercase}} Details</h2>
    <div>
        <span>Id: </span> {{user.id}}
    </div>
    <div>
        <label for="user-name">User name: </label>
        <input id="user-name" [(ngModel)]="user.name" placeholder="Enter a name" />
    </div>
    <button (click)="goBack()">Back</button>
    <button (click)="save()">save</button>
</div>
    <section class="cover-sec">
        <img src="http://via.placeholder.com/1600x400" alt="">
    </section>


    <main>
        <div class="main-section">
            <div class="container">
                <div class="main-section-data">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="main-left-sidebar">
                                <div class="user_profile">
                                    <div class="user-pro-img">
                                        <img src="http://placekitten.com/170/170" alt="">
                                    </div><!--user-pro-img end-->
                                    
                                    <ul class="social_links">
                                        <li>C#</li>
                                        <li>ASP.NET</li>
                                        <li>HTML</li>
                                        <li>CSS</li>
                                        <li>JavaScript</li>
                                        <li>TypeScript</li>
                                        <li>Python</li>
                                        <li>Java</li>
                                    </ul>
                                </div><!--user_profile end-->
                                
                            </div><!--main-left-sidebar end-->
                        </div>
                        <div class="col-lg-6">
                            <div class="main-ws-sec">
                                <div class="user-tab-sec">
                                    <h3>John Doe</h3>
                                    <div class="star-descp">
                                        <span>.NET Developer</span>
                                        
                                    </div><!--star-descp end-->
                                    <div class="tab-feed">
                                        <ul>
                                            <li data-tab="feed-dd" class="active">
                                                <a href="#" title="">
                                                    <img src="images/ic1.png" alt="">
                                                    <span>Feed</span>
                                                </a>
                                            </li>
                                            
                                        </ul>
                                    </div><!-- tab-feed end-->
                                </div><!--user-tab-sec end-->
                                <div class="posts-section">

                                    <div class="posts">
                                        <ul class="post-list">
                                            <!-- NgFor => binding user/posts-->
                                            <li *ngFor="let post of posts" >
                                                <div class="post-bar">
                                                    
                                                    <div class="job_descp">
                                                        <h3>{{post.title}}</h3>
                                                        
                                                        <p>{{post.content}}</p>
                                                        <ul class="skill-tags">
                                                            <li><a href="#" title="">Languages => still need to bind</a></li>
                                                        </ul>
                                                        <div class="usy-name">
                                                            <span><img src="images/clock.png" alt="">Time Created</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="process-comm">
                                        <div class="spinner">
                                            <div class="bounce1"></div>
                                            <div class="bounce2"></div>
                                            <div class="bounce3"></div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--main-ws-sec end-->
                        </div>
                        <div class="col-lg-3">
                            <div class="right-sidebar">
                                <div class="widget widget-portfolio">
                                    <div class="wd-heady">
                                        <h3>Photos</h3>
                                        <img src="images/photo-icon.png" alt="">
                                    </div>
                                    <div class="pf-gallery">
                                        <ul>
                                            <li><a href="#" title=""><img src="https://picsum.photos/70" alt=""></a></li>
                                            <li><a href="#" title=""><img src="https://picsum.photos/70" alt=""></a></li>
                                            <li><a href="#" title=""><img src="https://picsum.photos/70" alt=""></a></li>
                                            <li><a href="#" title=""><img src="https://picsum.photos/70" alt=""></a></li>
                                            <li><a href="#" title=""><img src="https://picsum.photos/70" alt=""></a></li>
                                            <li><a href="#" title=""><img src="https://picsum.photos/70" alt=""></a></li>
                                            <li><a href="#" title=""><img src="https://picsum.photos/70" alt=""></a></li>
                                            <li><a href="#" title=""><img src="https://picsum.photos/70" alt=""></a></li>
                                            <li><a href="#" title=""><img src="https://picsum.photos/70" alt=""></a></li>
                                            <li><a href="#" title=""><img src="https://picsum.photos/70" alt=""></a></li>
                                            <li><a href="#" title=""><img src="https://picsum.photos/70" alt=""></a></li>
                                            <li><a href="#" title=""><img src="https://picsum.photos/70" alt=""></a></li>
                                        </ul>
                                    </div><!--pf-gallery end-->
                                </div><!--widget-portfolio end-->
                            </div><!--right-sidebar end-->
                        </div>
                    </div>
                </div><!-- main-section-data end-->
            </div> 
        </div>
    </main>
<!-- </div> -->
