.posts{
    width: 70%;
    padding: 7% 10% 20% 10%;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgoldenrodyellow;
}
.post-list li{
    list-style-type: none;
    box-shadow: 2px 3px 2px grey;
    border-radius: 5px;
    margin: 20px;
    background-color: rgba(255, 222, 173, 0.63);
}
.post-list li h3{
    text-align: center;
    border-bottom: 1px solid grey;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.post-list li p{
    padding-left: 2%;
}